<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>DeleteClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHouseServlet</servlet-name>
        <servlet-class>DeleteHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitFeedback</servlet-name>
        <servlet-class>submitFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackc</servlet-name>
        <servlet-class>Entity.feedbackc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitFeedbackuser</servlet-name>
        <servlet-class>submitFeedbackuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCountServlet</servlet-name>
        <servlet-class>UpdateCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCountServlett</servlet-name>
        <servlet-class>UpdateCountServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncrementCountServlet</servlet-name>
        <servlet-class>IncrementCountServlet</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>InsertBookingServlet</servlet-name>
        <servlet-class>InsertBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Entity.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bookingdetails</servlet-name>
        <servlet-class>Bookingdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBookingServlet</servlet-name>
        <servlet-class>DisplayBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHouseServlet</servlet-name>
        <servlet-class>UpdateHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseDetails</servlet-name>
        <servlet-class>EditHouseDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/DeleteClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHouseServlet</servlet-name>
        <url-pattern>/DeleteHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitFeedback</servlet-name>
        <url-pattern>/submitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackc</servlet-name>
        <url-pattern>/feedbackc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitFeedbackuser</servlet-name>
        <url-pattern>/submitFeedbackuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCountServlet</servlet-name>
        <url-pattern>/UpdateCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCountServlett</servlet-name>
        <url-pattern>/UpdateCountServlett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncrementCountServlet</servlet-name>
        <url-pattern>/IncrementCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookingServlet</servlet-name>
        <url-pattern>/InsertBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bookingdetails</servlet-name>
        <url-pattern>/Bookingdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBookingServlet</servlet-name>
        <url-pattern>/DisplayBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHouseServlet</servlet-name>
        <url-pattern>/UpdateHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseDetails</servlet-name>
        <url-pattern>/EditHouseDetails</url-pattern>
    </servlet-mapping>
</web-app>
